<style>
.node-bind{
    height:450px;
}
.node-bind-action{
    width:96%;
    background-color:#CAEC84;
    font-size: 13px;
    margin:3px 10px;
    padding: 3px 10px;
}

</style>
<div class="node-bind">
    <div class="node-bind-action">
        <a href="?ctl=service/certificate&act=node_binding">已有绑定关系</a> | <a href="?ctl=service/certificate&act=node_binding&p[0]=apply">新建绑定关系</a>
    </div>
    <iframe align="middle" width="100%" height="100%" src='<{$matrix_url}>'></iframe>
</div>
